# API de clima
CLIMA_API_URL=https://exemplo-api-clima.com
CLIMA_API_KEY=insira_sua_chave_aqui

# API IBGE
IBGE_API_URL=https://servicodados.ibge.gov.br/api

# API BACEN
BACEN_API_URL=https://api.bcb.gov.br
